/* Estilos extraídos de admin\index.php */

body{
        margin-top: 0;
    }
    div#modalTicketsEstatus {
    margin-top: 66;
}
#modalTicketsEstatus .modal-dialog{
    max-width: 95%;
}

#modalTicketsEstatus .modal-content{
    height: 85vh;
}

#modalTicketsEstatus .modal-body{
    overflow-y: auto;
    max-height: calc(85vh - 70px);
}
